<header class="header-main @@HeaderClass header-option-9">
 <!-- Header Top -->
 <div class="header-top header-border-bottom small bg-black small">
  <div class="container-fluid">
   <div class="d-flex justify-content-between align-items-center">
    <!-- Left -->
    <div class="d-flex align-items-center justify-content-center">
     <p class="ht-top-text text-white">
      Sign Up for 10% off your first order*
     </p>
    </div>
    <!-- Right -->
    <div class="d-flex align-items-center justify-content-center w-lg-auto">
     <!-- Language -->
     <div class="dropdown ms-0 ms-lg-3">
      <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" id="dropdown_language" role="button">
       <img alt="" class="me-2" src="../../assets/img/flags/uk.svg" width="20"/>
       English
      </a>
      <div aria-labelledby="dropdown_language" class="dropdown-menu mt-2 shadow" style="margin: 0px;">
       <div class="dropdown-item">
        <select class="form-select form-select-sm">
         <option value="usd">
          $ USD
         </option>
         <option value="eur">
          € EUR
         </option>
         <option value="ukp">
          £ UKP
         </option>
         <option value="jpy">
          ¥ JPY
         </option>
        </select>
       </div>
       <a class="dropdown-item" href="#">
        <img alt="" class="me-2" src="../../assets/img/flags/sp.svg" width="20"/>
        Español
       </a>
       <a class="dropdown-item" href="#">
        <img alt="" class="me-2" src="../../assets/img/flags/fr.svg" width="20"/>
        Français
       </a>
       <a class="dropdown-item" href="#">
        <img alt="" class="me-2" src="../../assets/img/flags/gr.svg" width="20"/>
        Deutsch
       </a>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
 <!-- End Header Top -->
 <!-- Header Middle -->
 <div class="header-middle">
  <div class="@@ContainerClass">
   <div class="row align-items-center">
    <div class="col-md-4 hm-left-col">
     <div class="hm-toggle d-lg-none">
      <button aria-controls="swim_mobile_popup" class="hm-toggle-mob" data-bs-target="#swim_mobile_popup" data-bs-toggle="offcanvas" type="button">
       <span>
       </span>
      </button>
     </div>
     <ul class="nav hm-nav-left d-none d-lg-flex">
      <li class="nav-item">
       <a class="nav-link active" href="#">
        Women
       </a>
      </li>
      <li class="nav-item">
       <a class="nav-link" href="#">
        Men
       </a>
      </li>
      <li class="nav-item">
       <a class="nav-link" href="#">
        About
       </a>
      </li>
     </ul>
    </div>
    <div class="col-lg-4 hm-logo col">
     <div class="logo text-center w-100 d-flex justify-content-center">
      <a href="../../index.html">
       <img alt="" class="logo-dark" src="@@imgPath/img/logo-v2.svg" title=""/>
       <img alt="" class="logo-light" src="@@imgPath/img/logo-v2-light.svg" title=""/>
      </a>
     </div>
    </div>
    <div class="col-lg-4 hm-right-col">
     <div class="nav header-right">
      <!-- Nav Search-->
      <div class="nav-item d-none d-lg-block">
       <a aria-controls="header_search_popup" class="nav-link" data-bs-toggle="offcanvas" href="#header_search_popup" role="button">
        <i class="fi-search">
        </i>
       </a>
      </div>
      <!-- Acount -->
      <div class="nav-item dropdown">
       <a aria-expanded="false" aria-haspopup="true" class="nav-link" data-bs-toggle="dropdown" href="#" id="dropdown_myaccount" role="button">
        <i class="fi-user">
        </i>
       </a>
       <div aria-labelledby="dropdown_myaccount" class="dropdown-menu dropdown-menu-end mt-2 shadow">
        <a class="dropdown-item" href="#">
         Login
        </a>
        <a class="dropdown-item" href="#">
         Register
        </a>
        <a class="dropdown-item" href="#">
         Wishlist
        </a>
        <a class="dropdown-item" href="#">
         My account
        </a>
       </div>
      </div>
      <!-- Cart -->
      <div class="nav-item">
       <a aria-controls="modalMiniCart" class="nav-link" data-bs-toggle="offcanvas" href="#modalMiniCart" role="button">
        <i class="fi-shopping-cart">
        </i>
        <sub>
         08
        </sub>
       </a>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
 <!-- End Header Middle -->
 <!-- Desktop Menu -->
 <nav class="navbar shadow-none d-none d-lg-flex">
  <div class="@@ContainerClass">
   <!-- Menu -->
   <div class="navbar-collapse">
    <ul class="navbar-nav">
     <li class="dropdown dropdown-full nav-item">
      <a class="nav-link" href="#">
       Demos
      </a>
      <div class="dropdown-menu dropdown-mega-menu py-0">
       <div class="container p-3 p-lg-4">
        <div class="row gy-4">
         <div class="col-6 col-md-3 col-xl-2">
          <h6 class="sm-title-02 mb-3 fw-500">
           Home Options
          </h6>
          <ul class="list-unstyled link-list-style-02 m-0">
           <li>
            <a href="../home/index.html">
             Home Option 1
            </a>
           </li>
           <li>
            <a href="../home/index-02.html">
             Home Option 2
            </a>
           </li>
           <li>
            <a href="../home/index-03.html">
             Home Option 3
            </a>
           </li>
           <li>
            <a href="../home/index-04.html">
             Home Option 4
            </a>
           </li>
           <li>
            <a href="../home/index-05.html">
             Home Option 5
            </a>
           </li>
           <li>
            <a href="../home/index-06.html">
             Home Option 6
            </a>
           </li>
           <li>
            <a href="../home/index-07.html">
             Home Option 7
            </a>
           </li>
           <li>
            <a href="../home/index-08.html">
             Home Option 8
            </a>
           </li>
           <li>
            <a href="../home/index-09.html">
             Home Option 9
            </a>
            <span class="menu-label">
             New
            </span>
           </li>
           <li>
            <a href="../home/index-10.html">
             Home Option 10
            </a>
            <span class="menu-label">
             New
            </span>
           </li>
           <li>
            <a href="../home/index-11.html">
             Home Option 11
            </a>
            <span class="menu-label">
             New
            </span>
           </li>
           <li>
            <a href="../home/index-12.html">
             Home Option 12
            </a>
            <span class="menu-label">
             New
            </span>
           </li>
          </ul>
         </div>
         <div class="col-6 col-md-3 col-xl-2">
          <h6 class="sm-title-02 mb-3 fw-500">
           Shop Option 1
          </h6>
          <ul class="list-unstyled link-list-style-02 mb-4">
           <li>
            <a href="../shop-01/shop.html">
             Shop Page
            </a>
           </li>
           <li>
            <a href="../shop-01/shop-filter.html">
             Shop Filter
            </a>
           </li>
           <li>
            <a href="../shop-01/shop-fw-left.html">
             Shop Full Width
            </a>
           </li>
           <li>
            <a href="../shop-01/shop-fw-right.html">
             Shop Right Sidebar
            </a>
           </li>
           <li>
            <a href="../shop-01/shop-fw-without-filtres.html">
             Shop No Sidebar
            </a>
           </li>
          </ul>
          <h6 class="sm-title-02 mb-3 fw-500">
           Shop Option 2
          </h6>
          <ul class="list-unstyled link-list-style-02 m-0">
           <li>
            <a href="../shop-02/shop.html">
             Shop Page
            </a>
            <span class="menu-label">
             New
            </span>
           </li>
           <li>
            <a href="../shop-02/shop-fw.html">
             Shop Full Width
            </a>
            <span class="menu-label">
             New
            </span>
           </li>
          </ul>
         </div>
         <div class="col-6 col-md-3 col-xl-2">
          <h6 class="sm-title-02 mb-3 fw-500">
           Shop Option 3
          </h6>
          <ul class="list-unstyled link-list-style-02 mb-4">
           <li>
            <a href="../shop-03/shop.html">
             Shop Page
            </a>
            <span class="menu-label">
             New
            </span>
           </li>
           <li>
            <a href="../shop-03/shop-fw.html">
             Shop Full Width
            </a>
            <span class="menu-label">
             New
            </span>
           </li>
          </ul>
          <h6 class="sm-title-02 mb-3 fw-500">
           Shop Option 4
          </h6>
          <ul class="list-unstyled link-list-style-02 mb-4">
           <li>
            <a href="../shop-04/shop.html">
             Shop Page
            </a>
            <span class="menu-label">
             New
            </span>
           </li>
           <li>
            <a href="../shop-04/shop-fw.html">
             Shop Full Width
            </a>
            <span class="menu-label">
             New
            </span>
           </li>
          </ul>
          <h6 class="sm-title-02 mb-3 fw-500">
           Shopping Cart
          </h6>
          <ul class="list-unstyled link-list-style-02 m-0">
           <li>
            <a href="../account/shopping-cart.html">
             Cart Page
            </a>
           </li>
           <li>
            <a href="../account/shop-cart.html">
             Cart Page 02
            </a>
            <span class="menu-label">
             New
            </span>
           </li>
          </ul>
         </div>
         <div class="col-6 col-md-3 col-xl-2">
          <h6 class="sm-title-02 mb-3 fw-500">
           Product Detail Page
          </h6>
          <ul class="list-unstyled link-list-style-02 mb-0">
           <li>
            <a href="../product-details/product-details.html">
             Product Detail 01
            </a>
           </li>
           <li>
            <a href="../product-details/product-details-02.html">
             Product Detail 01
            </a>
           </li>
           <li>
            <a href="../product-details/product-details-03.html">
             Product Detail 03
            </a>
           </li>
           <li>
            <a href="../product-details/product-details-04.html">
             Product Detail 04
            </a>
           </li>
           <li>
            <a href="../product-details/product-details-05.html">
             Product Detail 05
            </a>
           </li>
           <li>
            <a href="../product-details/product-details-06.html">
             Product Detail 06
            </a>
            <span class="menu-label">
             New
            </span>
           </li>
           <li>
            <a href="../product-details/product-details-07.html">
             Product Detail 07
            </a>
            <span class="menu-label">
             New
            </span>
           </li>
          </ul>
         </div>
         <div class="col-6 col-md-3 col-xl-2">
          <h6 class="sm-title-02 mb-3 fw-500">
           Account Pages
          </h6>
          <ul class="list-unstyled link-list-style-02 mb-0">
           <li>
            <a href="../account/account-address.html">
             Address
            </a>
           </li>
           <li>
            <a href="../account/account-order.html">
             Order
            </a>
           </li>
           <li>
            <a href="../account/account-payment.html">
             Payment
            </a>
           </li>
           <li>
            <a href="../account/account-profile.html">
             Profile
            </a>
           </li>
           <li>
            <a href="../account/account-tickets.html">
             Tickets
            </a>
           </li>
           <li>
            <a href="../account/account-wishlist.html">
             Wishlist
            </a>
           </li>
           <li>
            <a href="../account/wishlist.html">
             Wishlist 02
            </a>
           </li>
           <li>
            <a href="../account/account-tabs.html">
             Account Tab
            </a>
           </li>
          </ul>
         </div>
         <div class="col-6 col-md-3 col-xl-2">
          <h6 class="sm-title-02 mb-3 fw-500">
           Login
          </h6>
          <ul class="list-unstyled link-list-style-02 mb-4">
           <li>
            <a href="../account/login.html">
             Login
            </a>
           </li>
           <li>
            <a href="../account/login-02.html">
             Login 02
            </a>
            <span class="menu-label">
             New
            </span>
           </li>
           <li>
            <a href="../account/sign-up.html">
             Sign Up
            </a>
           </li>
           <li>
            <a href="../account/sign-up-02.html">
             Sign Up 02
            </a>
            <span class="menu-label">
             New
            </span>
           </li>
           <li>
            <a href="../account/reset-password.html">
             Reset Password
            </a>
           </li>
          </ul>
          <h6 class="sm-title-02 mb-3 fw-500">
           Checkout
          </h6>
          <ul class="list-unstyled link-list-style-02 m-0">
           <li>
            <a href="../account/checkout.html">
             Checkout
            </a>
           </li>
           <li>
            <a href="../account/checkout-02.html">
             Checkout 02
            </a>
            <span class="menu-label">
             New
            </span>
           </li>
          </ul>
         </div>
        </div>
       </div>
      </div>
     </li>
     <li class="dropdown dropdown-full nav-item">
      <a class="nav-link" href="#">
       New Arrivals
      </a>
      <div class="dropdown-menu dropdown-mega-menu py-6">
       <div class="container">
        <div class="row g-3 g-xl-5">
         <div class="col-md-3">
          <h6 class="sm-title-03 mb-4">
           Shop By Catagory
          </h6>
          <ul class="list-unstyled link-list-style-01">
           <li>
            <a href="#">
             Swimwear
            </a>
           </li>
           <li>
            <a href="#">
             Underwear
            </a>
           </li>
           <li>
            <a href="#">
             Activewear
            </a>
           </li>
           <li>
            <a href="#">
             Bodysuits
            </a>
           </li>
           <li>
            <a href="#">
             Shop All Basics &amp; Swim
            </a>
           </li>
          </ul>
         </div>
         <div class="col-md-3">
          <div class="position-relative hover-scale">
           <div class="hover-scale-in">
            <a href="#">
             <img alt="" src="@@imgPath/img/swimwear/swimwear-mega-menu-1.jpg" title=""/>
            </a>
            <h5 class="position-absolute start-0 bottom-0 p-3 text-white fw-600 m-0">
             Mix &amp; Match Swim
             <i class="bi-arrow-right">
             </i>
            </h5>
           </div>
          </div>
         </div>
         <div class="col-md-3">
          <div class="hover-scale">
           <div class="hover-scale-in">
            <a href="#">
             <img alt="" src="@@imgPath/img/swimwear/swimwear-mega-menu-2.jpg" title=""/>
            </a>
           </div>
           <h6 class="small pt-2 m-0">
            <a class="small text-reset link-effect" href="#">
             The Short-Sleeve Crew Neck Bodysuit
            </a>
           </h6>
          </div>
         </div>
         <div class="col-md-3">
          <div class="hover-scale">
           <div class="hover-scale-in">
            <a href="#">
             <img alt="" src="@@imgPath/img/swimwear/swimwear-mega-menu-3.jpg" title=""/>
            </a>
           </div>
           <h6 class="small pt-2 m-0">
            <a class="small text-reset link-effect" href="#">
             The Short-Sleeve Crew Neck Bodysuit
            </a>
           </h6>
          </div>
         </div>
        </div>
       </div>
      </div>
     </li>
     <li class="dropdown dropdown-full nav-item">
      <a class="nav-link" href="#">
       Best Sellers
      </a>
      <div class="dropdown-menu dropdown-mega-menu py-6">
       <div class="container">
        <div class="row g-3 g-xl-5">
         <div class="col-md-3">
          <h6 class="sm-title-03 mb-4">
           Highlights
          </h6>
          <ul class="list-unstyled link-list-style-01">
           <li>
            <a href="#">
             Back in Stock
            </a>
           </li>
           <li>
            <a href="#">
             Gift Cards
            </a>
           </li>
           <li>
            <a href="#">
             Shop All Featured
            </a>
           </li>
          </ul>
         </div>
         <div class="col-md-3">
          <h6 class="sm-title-03 mb-4">
           Trending
          </h6>
          <ul class="list-unstyled link-list-style-01">
           <li>
            <a href="#">
             The Vacation Edit
            </a>
           </li>
           <li>
            <a href="#">
             Modern Essentials
            </a>
           </li>
           <li>
            <a href="#">
             The Everyone Collection
            </a>
           </li>
           <li>
            <a href="#">
             The Track Collection
            </a>
           </li>
           <li>
            <a href="#">
             Shop All Collection
            </a>
           </li>
          </ul>
         </div>
         <div class="col-md-3">
          <div class="hover-scale">
           <div class="hover-scale-in">
            <a href="#">
             <img alt="" src="@@imgPath/img/swimwear/swimwear-mega-menu-3.jpg" title=""/>
            </a>
           </div>
           <h6 class="small pt-2 m-0">
            <a class="small text-reset link-effect" href="#">
             The Short-Sleeve Crew Neck Bodysuit
            </a>
           </h6>
          </div>
         </div>
         <div class="col-md-3">
          <div class="hover-scale">
           <div class="hover-scale-in">
            <a href="#">
             <img alt="" src="@@imgPath/img/swimwear/swimwear-mega-menu-2.jpg" title=""/>
            </a>
           </div>
           <h6 class="small pt-2 m-0">
            <a class="small text-reset link-effect" href="#">
             The Short-Sleeve Crew Neck Bodysuit
            </a>
           </h6>
          </div>
         </div>
        </div>
       </div>
      </div>
     </li>
     <li class="dropdown dropdown-full nav-item">
      <a class="nav-link" href="#">
       Absolue
      </a>
      <div class="dropdown-menu dropdown-mega-menu py-6">
       <div class="container">
        <div class="row g-3 g-xl-5">
         <div class="col-md-3">
          <h6 class="sm-title-03 mb-4">
           Swimwear
          </h6>
          <ul class="list-unstyled link-list-style-01">
           <li>
            <a href="#">
             Swim Tops
            </a>
           </li>
           <li>
            <a href="#">
             Swim Bottoms
            </a>
           </li>
           <li>
            <a href="#">
             One pieces
            </a>
           </li>
           <li>
            <a href="#">
             Cover-ups
            </a>
           </li>
          </ul>
         </div>
         <div class="col-md-3">
          <h6 class="sm-title-03 mb-4">
           Clothing
          </h6>
          <ul class="list-unstyled link-list-style-01">
           <li>
            <a href="#">
             Dresses
            </a>
           </li>
           <li>
            <a href="#">
             Sweaters
            </a>
           </li>
           <li>
            <a href="#">
             Pants
            </a>
           </li>
           <li>
            <a href="#">
             Shirts
            </a>
           </li>
           <li>
            <a href="#">
             Shorts
            </a>
           </li>
           <li>
            <a href="#">
             Lounge
            </a>
           </li>
          </ul>
         </div>
         <div class="col-md-3">
          <h6 class="sm-title-03 mb-4">
           Accessories
          </h6>
          <ul class="list-unstyled link-list-style-01">
           <li>
            <a href="#">
             Bags
            </a>
           </li>
           <li>
            <a href="#">
             Eyewear
            </a>
           </li>
           <li>
            <a href="#">
             Jewelry
            </a>
           </li>
           <li>
            <a href="#">
             Sandals
            </a>
           </li>
           <li>
            <a href="#">
             Slippers
            </a>
           </li>
           <li>
            <a href="#">
             Underthings
            </a>
           </li>
          </ul>
         </div>
         <div class="col-md-3">
          <div class="hover-scale">
           <div class="hover-scale-in">
            <a href="#">
             <img alt="" src="@@imgPath/img/swimwear/swimwear-mega-menu-2.jpg" title=""/>
            </a>
           </div>
           <h6 class="small pt-2 m-0">
            <a class="small text-reset link-effect" href="#">
             The Short-Sleeve Crew Neck Bodysuit
            </a>
           </h6>
          </div>
         </div>
        </div>
       </div>
      </div>
     </li>
     <li class="dropdown nav-item">
      <a class="nav-link" href="#">
       Pages
      </a>
      <ul class="dropdown-menu left shadow-lg">
       <li>
        <a class="dropdown-item" href="../pages/about.html">
         About
        </a>
       </li>
       <li>
        <a class="dropdown-item" href="../pages/faq.html">
         FAQ's
        </a>
       </li>
       <li>
        <a class="dropdown-item" href="../pages/policy.html">
         Policy
        </a>
       </li>
       <li>
        <a class="dropdown-item" href="../pages/support.html">
         Support
        </a>
       </li>
       <li>
        <a class="dropdown-item" href="../pages/support-topic.html">
         Support Topic
        </a>
       </li>
       <li>
        <a class="dropdown-item" href="../pages/contact-us.html">
         Contact Us
        </a>
       </li>
      </ul>
     </li>
     <li class="dropdown nav-item">
      <a class="nav-link" href="#">
       Blog
      </a>
      <ul class="dropdown-menu left shadow-lg">
       <li>
        <a class="dropdown-item" href="../blog/blog.html">
         Blog
        </a>
       </li>
       <li>
        <a class="dropdown-item" href="../blog/blog-single.html">
         Blog Single
        </a>
       </li>
      </ul>
     </li>
     <li class="nav-item">
      <a class="nav-link text-danger" href="#">
       Sale
      </a>
     </li>
    </ul>
   </div>
   <!-- End Menu -->
  </div>
 </nav>
 <!-- End Desktop Menu -->
</header>
<!-- Mobile Menu -->
<div class="offcanvas tabs-main-mobile-menu offcanvas-start" id="swim_mobile_popup" tabindex="-1">
 <button aria-label="Close" class="btn-close m-0" data-bs-dismiss="offcanvas" type="button">
  <i class="bi-x">
  </i>
 </button>
 <div class="offcanvas-body p-0">
  <!-- Mob Search -->
  <div class="header-search">
   <form>
    <div class="input-group">
     <input class="form-control form-control-sm shadow-none px-2" name="search" placeholder="What are you looking for?" type="text"/>
     <button class="btn btn-primary shadow-none btn-sm px-2" type="button">
      <i class="fi-search">
      </i>
     </button>
    </div>
   </form>
  </div>
  <!-- Mob Tab -->
  <ul class="nav nav-tabs" id="header_9_mob_tab" role="tablist">
   <li class="nav-item" role="presentation">
    <button aria-controls="h9_woman" aria-selected="true" class="nav-link active" data-bs-target="#h9_woman" data-bs-toggle="tab" id="h9_woman-tab" role="tab" type="button">
     Woman
    </button>
   </li>
   <li class="nav-item" role="presentation">
    <button aria-controls="h9_man" aria-selected="false" class="nav-link" data-bs-target="#h9_man" data-bs-toggle="tab" id="h9_man-tab" role="tab" type="button">
     Man
    </button>
   </li>
  </ul>
  <div class="tab-content" id="header_9_mob_tabContent">
   <div aria-labelledby="h9_woman-tab" class="tab-pane fade show active" id="h9_woman" role="tabpanel">
    <!-- Mobile Top Menu -->
    <div class="mob-menu-link-top">
     <ul class="list-unstyled">
      <li>
       <a href="#">
        New Arrivals
       </a>
      </li>
      <li>
       <a href="#">
        Best Sellers
       </a>
      </li>
     </ul>
    </div>
    <!-- Mobile Main Menu -->
    <div class="mob-menu-link-main">
     <ul class="list-unstyled mob-menu-level-1">
      <li class="dropdown">
       <a href="#">
        Swimwear
       </a>
       <label class="px-dropdown-toggle mob-menu">
        <i class="bi-chevron-right">
        </i>
       </label>
       <ul class="dropdown-menu list-unstyled mob-menu-level-2">
        <li>
         <a href="#">
          Swim Tops
         </a>
        </li>
        <li>
         <a href="#">
          Swim Bottoms
         </a>
        </li>
        <li>
         <a href="#">
          One pieces
         </a>
        </li>
        <li>
         <a href="#">
          Cover-ups
         </a>
        </li>
       </ul>
      </li>
      <li class="dropdown">
       <a href="#">
        Shop By Catagory
       </a>
       <label class="px-dropdown-toggle mob-menu">
        <i class="bi-chevron-right">
        </i>
       </label>
       <ul class="dropdown-menu list-unstyled mob-menu-level-2">
        <li>
         <a href="#">
          Swimwear
         </a>
        </li>
        <li>
         <a href="#">
          Underwear
         </a>
        </li>
        <li>
         <a href="#">
          Activewear
         </a>
        </li>
        <li>
         <a href="#">
          Bodysuits
         </a>
        </li>
        <li>
         <a href="#">
          Shop All Basics &amp; Swim
         </a>
        </li>
       </ul>
      </li>
      <li class="dropdown">
       <a href="#">
        Highlights
       </a>
       <label class="px-dropdown-toggle mob-menu">
        <i class="bi-chevron-right">
        </i>
       </label>
       <ul class="dropdown-menu list-unstyled mob-menu-level-2">
        <li>
         <a href="#">
          Back in Stock
         </a>
        </li>
        <li>
         <a href="#">
          Gift Cards
         </a>
        </li>
        <li>
         <a href="#">
          Shop All Featured
         </a>
        </li>
       </ul>
      </li>
      <li class="dropdown">
       <a href="#">
        Trending
       </a>
       <label class="px-dropdown-toggle mob-menu">
        <i class="bi-chevron-right">
        </i>
       </label>
       <ul class="dropdown-menu list-unstyled mob-menu-level-2">
        <li>
         <a href="#">
          The Vacation Edit
         </a>
        </li>
        <li>
         <a href="#">
          Modern Essentials
         </a>
        </li>
        <li>
         <a href="#">
          The Everyone Collection
         </a>
        </li>
        <li>
         <a href="#">
          The Track Collection
         </a>
        </li>
        <li>
         <a href="#">
          Shop All Collection
         </a>
        </li>
       </ul>
      </li>
      <li class="dropdown">
       <a href="#">
        Accessories
       </a>
       <label class="px-dropdown-toggle mob-menu">
        <i class="bi-chevron-right">
        </i>
       </label>
       <ul class="dropdown-menu list-unstyled mob-menu-level-2">
        <li>
         <a href="#">
          The Vacation Edit
         </a>
        </li>
        <li>
         <a href="#">
          Modern Essentials
         </a>
        </li>
        <li>
         <a href="#">
          The Everyone Collection
         </a>
        </li>
        <li>
         <a href="#">
          The Track Collection
         </a>
        </li>
        <li>
         <a href="#">
          Shop All Collection
         </a>
        </li>
       </ul>
      </li>
     </ul>
    </div>
    <!-- Mobile Product -->
    <div class="horizontal-scroll-box pb-3">
     <div class="d-flex">
      <div class="col-5 pe-2">
       <div class="hover-scale">
        <div class="hover-scale-in">
         <a href="#">
          <img alt="" src="https://media.everlane.com/image/upload/c_fill,w_640,ar_320:320,q_auto,dpr_1.0,g_face:center,f_auto,fl_progressive:steep/i/5cb5b38e_c71b" title=""/>
         </a>
        </div>
        <h6 class="small pt-2 m-0">
         <a class="small text-reset link-effect" href="#">
          The Short-Sleeve Crew Neck Bodysuit
         </a>
        </h6>
       </div>
      </div>
      <div class="col-5 pe-2">
       <div class="hover-scale">
        <div class="hover-scale-in">
         <a href="#">
          <img alt="" src="https://media.everlane.com/image/upload/c_fill,w_640,ar_320:320,q_auto,dpr_1.0,g_face:center,f_auto,fl_progressive:steep/i/5cb5b38e_c71b" title=""/>
         </a>
        </div>
        <h6 class="small pt-2 m-0">
         <a class="small text-reset link-effect" href="#">
          The Short-Sleeve Crew Neck Bodysuit
         </a>
        </h6>
       </div>
      </div>
      <div class="col-5 pe-2">
       <div class="hover-scale">
        <div class="hover-scale-in">
         <a href="#">
          <img alt="" src="https://media.everlane.com/image/upload/c_fill,w_640,ar_320:320,q_auto,dpr_1.0,g_face:center,f_auto,fl_progressive:steep/i/5cb5b38e_c71b" title=""/>
         </a>
        </div>
        <h6 class="small pt-2 m-0">
         <a class="small text-reset link-effect" href="#">
          The Short-Sleeve Crew Neck Bodysuit
         </a>
        </h6>
       </div>
      </div>
      <div class="col-5 pe-2">
       <div class="hover-scale">
        <div class="hover-scale-in">
         <a href="#">
          <img alt="" src="https://media.everlane.com/image/upload/c_fill,w_640,ar_320:320,q_auto,dpr_1.0,g_face:center,f_auto,fl_progressive:steep/i/5cb5b38e_c71b" title=""/>
         </a>
        </div>
        <h6 class="small pt-2 m-0">
         <a class="small text-reset link-effect" href="#">
          The Short-Sleeve Crew Neck Bodysuit
         </a>
        </h6>
       </div>
      </div>
      <div class="col-5 pe-2">
       <div class="hover-scale">
        <div class="hover-scale-in">
         <a href="#">
          <img alt="" src="https://media.everlane.com/image/upload/c_fill,w_640,ar_320:320,q_auto,dpr_1.0,g_face:center,f_auto,fl_progressive:steep/i/5cb5b38e_c71b" title=""/>
         </a>
        </div>
        <h6 class="small pt-2 m-0">
         <a class="small text-reset link-effect" href="#">
          The Short-Sleeve Crew Neck Bodysuit
         </a>
        </h6>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div aria-labelledby="h9_man-tab" class="tab-pane fade" id="h9_man" role="tabpanel">
    <!-- Mobile Top Menu -->
    <div class="mob-menu-link-top">
     <ul class="list-unstyled">
      <li>
       <a href="#">
        Hot Collections
       </a>
      </li>
      <li>
       <a href="#">
        Best 2022
       </a>
      </li>
     </ul>
    </div>
    <!-- Mobile Main Menu -->
    <div class="mob-menu-link-main">
     <ul class="list-unstyled mob-menu-level-1">
      <li class="dropdown">
       <a href="#">
        Featured
       </a>
       <label class="px-dropdown-toggle mob-menu">
        <i class="bi-chevron-right">
        </i>
       </label>
       <ul class="dropdown-menu list-unstyled mob-menu-level-2">
        <li>
         <a href="#">
          Swim Tops
         </a>
        </li>
        <li>
         <a href="#">
          Swim Bottoms
         </a>
        </li>
        <li>
         <a href="#">
          One pieces
         </a>
        </li>
        <li>
         <a href="#">
          Cover-ups
         </a>
        </li>
       </ul>
      </li>
      <li class="dropdown">
       <a href="#">
        Shop By Catagory
       </a>
       <label class="px-dropdown-toggle mob-menu">
        <i class="bi-chevron-right">
        </i>
       </label>
       <ul class="dropdown-menu list-unstyled mob-menu-level-2">
        <li>
         <a href="#">
          Swimwear
         </a>
        </li>
        <li>
         <a href="#">
          Underwear
         </a>
        </li>
        <li>
         <a href="#">
          Activewear
         </a>
        </li>
        <li>
         <a href="#">
          Bodysuits
         </a>
        </li>
        <li>
         <a href="#">
          Shop All Basics &amp; Swim
         </a>
        </li>
       </ul>
      </li>
      <li class="dropdown">
       <a href="#">
        Denim
       </a>
       <label class="px-dropdown-toggle mob-menu">
        <i class="bi-chevron-right">
        </i>
       </label>
       <ul class="dropdown-menu list-unstyled mob-menu-level-2">
        <li>
         <a href="#">
          Back in Stock
         </a>
        </li>
        <li>
         <a href="#">
          Gift Cards
         </a>
        </li>
        <li>
         <a href="#">
          Shop All Featured
         </a>
        </li>
       </ul>
      </li>
      <li class="dropdown">
       <a href="#">
        Trending
       </a>
       <label class="px-dropdown-toggle mob-menu">
        <i class="bi-chevron-right">
        </i>
       </label>
       <ul class="dropdown-menu list-unstyled mob-menu-level-2">
        <li>
         <a href="#">
          The Vacation Edit
         </a>
        </li>
        <li>
         <a href="#">
          Modern Essentials
         </a>
        </li>
        <li>
         <a href="#">
          The Everyone Collection
         </a>
        </li>
        <li>
         <a href="#">
          The Track Collection
         </a>
        </li>
        <li>
         <a href="#">
          Shop All Collection
         </a>
        </li>
       </ul>
      </li>
      <li class="dropdown">
       <a href="#">
        Accessories
       </a>
       <label class="px-dropdown-toggle mob-menu">
        <i class="bi-chevron-right">
        </i>
       </label>
       <ul class="dropdown-menu list-unstyled mob-menu-level-2">
        <li>
         <a href="#">
          The Vacation Edit
         </a>
        </li>
        <li>
         <a href="#">
          Modern Essentials
         </a>
        </li>
        <li>
         <a href="#">
          The Everyone Collection
         </a>
        </li>
        <li>
         <a href="#">
          The Track Collection
         </a>
        </li>
        <li>
         <a href="#">
          Shop All Collection
         </a>
        </li>
       </ul>
      </li>
     </ul>
    </div>
    <!-- Mobile Product -->
    <div class="horizontal-scroll-box pb-3">
     <div class="d-flex">
      <div class="col-5 pe-2">
       <div class="hover-scale">
        <div class="hover-scale-in">
         <a href="#">
          <img alt="" src="https://media.everlane.com/image/upload/c_fill,w_640,ar_320:320,q_auto,dpr_1.0,g_face:center,f_auto,fl_progressive:steep/i/5cb5b38e_c71b" title=""/>
         </a>
        </div>
        <h6 class="small pt-2 m-0">
         <a class="small text-reset link-effect" href="#">
          The Short-Sleeve Crew Neck Bodysuit
         </a>
        </h6>
       </div>
      </div>
      <div class="col-5 pe-2">
       <div class="hover-scale">
        <div class="hover-scale-in">
         <a href="#">
          <img alt="" src="https://media.everlane.com/image/upload/c_fill,w_640,ar_320:320,q_auto,dpr_1.0,g_face:center,f_auto,fl_progressive:steep/i/5cb5b38e_c71b" title=""/>
         </a>
        </div>
        <h6 class="small pt-2 m-0">
         <a class="small text-reset link-effect" href="#">
          The Short-Sleeve Crew Neck Bodysuit
         </a>
        </h6>
       </div>
      </div>
      <div class="col-5 pe-2">
       <div class="hover-scale">
        <div class="hover-scale-in">
         <a href="#">
          <img alt="" src="https://media.everlane.com/image/upload/c_fill,w_640,ar_320:320,q_auto,dpr_1.0,g_face:center,f_auto,fl_progressive:steep/i/5cb5b38e_c71b" title=""/>
         </a>
        </div>
        <h6 class="small pt-2 m-0">
         <a class="small text-reset link-effect" href="#">
          The Short-Sleeve Crew Neck Bodysuit
         </a>
        </h6>
       </div>
      </div>
      <div class="col-5 pe-2">
       <div class="hover-scale">
        <div class="hover-scale-in">
         <a href="#">
          <img alt="" src="https://media.everlane.com/image/upload/c_fill,w_640,ar_320:320,q_auto,dpr_1.0,g_face:center,f_auto,fl_progressive:steep/i/5cb5b38e_c71b" title=""/>
         </a>
        </div>
        <h6 class="small pt-2 m-0">
         <a class="small text-reset link-effect" href="#">
          The Short-Sleeve Crew Neck Bodysuit
         </a>
        </h6>
       </div>
      </div>
      <div class="col-5 pe-2">
       <div class="hover-scale">
        <div class="hover-scale-in">
         <a href="#">
          <img alt="" src="https://media.everlane.com/image/upload/c_fill,w_640,ar_320:320,q_auto,dpr_1.0,g_face:center,f_auto,fl_progressive:steep/i/5cb5b38e_c71b" title=""/>
         </a>
        </div>
        <h6 class="small pt-2 m-0">
         <a class="small text-reset link-effect" href="#">
          The Short-Sleeve Crew Neck Bodysuit
         </a>
        </h6>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
<!-- End Mobile Menu -->
