<div class="mobile-header-01 d-lg-none">
 <div class="mob-head-in">
  <div class="mob-toggle">
   <button aria-controls="offcanvas_mobile_header_01" class="hm-toggle-mob" data-bs-target="#offcanvas_mobile_header_01" data-bs-toggle="offcanvas" type="button">
    <span>
    </span>
   </button>
  </div>
  <div class="mob-logo text-center w-100 d-flex justify-content-center">
   <a href="../../index.html">
    <img alt="" class="logo-dark" src="@@imgPath/img/logo.svg" title=""/>
    <img alt="" class="logo-light" src="@@imgPath/img/logo-light.svg" title=""/>
   </a>
  </div>
  <div class="mob-end">
   <!-- Cart -->
   <div class="nav-item">
    <a aria-controls="modalMiniCart" class="nav-link" data-bs-toggle="offcanvas" href="#modalMiniCart" role="button">
     <i class="fi-shopping-cart">
     </i>
     <sub>
      08
     </sub>
    </a>
   </div>
  </div>
 </div>
</div>
