<div class="modal-askform-view modal fade" id="px_ask_modal" tabindex="-1">
 <div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
   <div class="modal-header">
    <h4 class="modal-title">
     Ask about product
    </h4>
    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button">
    </button>
   </div>
   <div class="modal-body">
    <form>
     <div class="row">
      <div class="col-md-6">
       <div class="mb-3">
        <label class="form-label">
         Your Name
        </label>
        <input class="form-control" placeholder="Name" type="text"/>
       </div>
      </div>
      <div class="col-md-6">
       <div class="mb-3">
        <label class="form-label">
         Email address
        </label>
        <input class="form-control" placeholder="E-mail" type="email"/>
       </div>
      </div>
      <div class="col-md-12">
       <div class="mb-3">
        <label class="form-label" for="exampleInputEmail1">
         Subject
        </label>
        <input class="form-control" placeholder="Subject" type="text"/>
       </div>
      </div>
      <div class="col-md-12">
       <div class="mb-3">
        <label class="form-label" for="exampleInputEmail1">
         Your Message
        </label>
        <textarea class="form-control" placeholder="Your Message" rows="5"></textarea>
       </div>
      </div>
     </div>
     <div class="">
      <button class="btn btn-primary" type="submit">
       Send Message
      </button>
     </div>
    </form>
   </div>
  </div>
 </div>
</div>
