<div class="modal fade" id="topbarlogin">
 <div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
   <div class="modal-header bg-primary">
    <div class="modal-title p-3">
     <h5 class="m-0 text-white">
      Sign in to your account!
     </h5>
     <p class="m-0 text-white">
      Nice to see you! Please log in with your account.
     </p>
    </div>
    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button">
    </button>
   </div>
   <div class="modal-body">
    <div class="w-100 p-3">
     <!-- Form START -->
     <form>
      <div class="mb-3">
       <label class="form-label" for="exampleInputEmail1">
        Email address
       </label>
       <input class="form-control" id="exampleInputEmail1" placeholder="E-mail" type="email"/>
      </div>
      <div class="mb-3">
       <label class="form-label" for="exampleInputPassword1">
        Password
       </label>
       <input class="form-control" id="exampleInputPassword1" placeholder="*********" type="password"/>
      </div>
      <div class="mb-3 form-check">
       <input class="form-check-input" id="exampleCheck1" type="checkbox"/>
       <label class="form-check-label" for="exampleCheck1">
        keep me signed in
       </label>
      </div>
      <div class="row align-items-center">
       <div class="col-sm-4">
        <button class="btn btn-dark" type="submit">
         Login
        </button>
       </div>
       <div class="col-sm-8 text-sm-end">
        <span class="text-muted">
         Don't have an account?
         <a href="sign-up.html">
          Signup here
         </a>
        </span>
       </div>
      </div>
     </form>
    </div>
   </div>
  </div>
 </div>
</div>
