<!-- Ask Form -->
@@include('./popups/_ask-form-popup.html', {
    "path": "..",
})
<!-- End Ask Form -->

<!-- Header Search -->
@@include('./popups/_header-search-popup.html', {
    "path": "..",
})
<!-- End Header Search -->


<!-- Header Side Search -->
@@include('./popups/_header-search-side-popup.html', {
    "path": "..",
})
<!-- End Header Side Search -->

<!-- Login Popup  -->
@@include('./popups/_login-popup.html', {
    "path": "..",
})
<!-- End Login Popup  -->

<!-- Mini Cart  -->
@@include('./popups/_mini-cart-popup.html', {
    "path": "..",
})
<!-- End Mini Cart  -->

<!-- Quick View  -->
@@include('./popups/_quick-view-popup.html', {
    "path": "..",
})
<!-- End Quick View  -->


<!-- Sipping Popup  -->
@@include('./popups/_shipping-popup.html', {
    "path": "..",
})
<!-- End Sipping Popup  -->


<!-- Size Chart  -->
@@include('./popups/_size-chart-popup.html', {
    "path": "..",
})
<!-- End Size Chart  -->