<div class="header-top bg-black text-white announcement-bar" style="--ann-speed: 60s;">
    <ul class="announcement-bar-wrap list-unstyled m-0 p-0">
        <li class="announcement-bar-item py-2">NEW SEASON, NEW STYLES: FASHION SALE YOU CAN'T MISS</li>
        <li class="announcement-bar-item py-2">FREE SHIPPING AND RETURNS</li>
        <li class="announcement-bar-item py-2">Contact us 24/7</li>
        <li class="announcement-bar-item py-2">30 Days Return</li>
        <li class="announcement-bar-item py-2">100% Secure Payment</li>
    </ul>
    <ul class="announcement-bar-wrap list-unstyled m-0 p-0">
        <li class="announcement-bar-item py-2">NEW SEASON, NEW STYLES: FASHION SALE YOU CAN'T MISS</li>
        <li class="announcement-bar-item py-2">FREE SHIPPING AND RETURNS</li>
        <li class="announcement-bar-item py-2">Contact us 24/7</li>
        <li class="announcement-bar-item py-2">30 Days Return</li>
        <li class="announcement-bar-item py-2">100% Secure Payment</li>
    </ul>
</div>