<header class="header-main @@HeaderClass header-option-4">
    <!-- Top Header -->
    <div class="header-top bg-primary text-white">
        <div class="@@ContainerClass">
            <p class="m-0 text-center py-2 small">Free Delivery on orders over £90.</p>
        </div>
    </div>
    <!-- End Top Header -->
    <nav class="navbar navbar-expand-lg navbar-light d-none d-lg-flex">
        <div class="@@ContainerClass">
            <!-- Menu -->
            <div class="col-lg-5 collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    <li class="dropdown dropdown-full nav-item">
                        <a href="#" class="nav-link">Demos</a>
                        <label class="px-dropdown-toggle mob-menu"></label>
                        <div class="dropdown-menu dropdown-mega-menu py-0">
                            @@include('header/_home_demo_menu.html', {
                            "path": "..",
                            })
                        </div>
                    </li>
                    <li class="dropdown dropdown-full nav-item">
                        <a href="#" class="nav-link">Collection</a>
                        <label class="px-dropdown-toggle mob-menu"></label>
                        <div class="dropdown-menu dropdown-mega-menu py-0">
                            <div class="container p-3 p-lg-4">
                                <div class="row gy-4">
                                    <div class="col-lg-6">
                                        <div class="row gy-4">
                                            <div class="col-6">
                                                <h6 class="sm-title-04"><a class="text-reset" href="#">Harum Quidem</a>
                                                </h6>
                                                <ul class="list-unstyled link-list-style-03">
                                                    <li>
                                                        <a href="#">All Harum Quidem</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Cosmopolis</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Suitó</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Milancélos</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Blazéro</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Glamos</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Metropolis</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-6">
                                                <h6 class="sm-title-04"><a class="text-reset" href="#">Harum Quidem</a>
                                                </h6>
                                                <ul class="list-unstyled link-list-style-03">
                                                    <li>
                                                        <a href="#">All Harum Quidem</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Cosmopolis</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Suitó</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Milancélos</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Blazéro</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Glamos</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Metropolis</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-6">
                                                <h6 class="sm-title-04"><a class="text-reset" href="#">Harum Quidem</a>
                                                </h6>
                                                <ul class="list-unstyled link-list-style-03">
                                                    <li>
                                                        <a href="#">All Harum Quidem</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Cosmopolis</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Suitó</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Milancélos</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Blazéro</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Glamos</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Metropolis</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-6">
                                                <h6 class="sm-title-04"><a class="text-reset" href="#">Harum Quidem</a>
                                                </h6>
                                                <ul class="list-unstyled link-list-style-03">
                                                    <li>
                                                        <a href="#">All Harum Quidem</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Cosmopolis</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Suitó</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Milancélos</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Blazéro</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Glamos</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Metropolis</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 d-flex flex-column">
                                        <div class="rounded h-100 bg-cover bg-no-repeat d-flex align-items-center justify-content-center py-8 p-xl-5"
                                            style="background-image: url(../../assets/img/fashion/blog-home-3.jpg);">
                                            <div class="w-100 text-center">
                                                <h6 class="text-uppercase fw-300 text-white mb-2">NEW IN</h6>
                                                <h3 class="fw-400 h3 text-white">New Exclusive<br />2022 Collection</h3>
                                                <div class="pt-2">
                                                    <a class="btn btn-white btn-sm" href="#">Shop Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a href="#" class="nav-link">Pages</a>
                        <label class="px-dropdown-toggle mob-menu"></label>
                        <ul class="dropdown-menu left shadow-lg">
                            <li><a class="dropdown-item" href="../pages/about.html">About</a></li>
                            <li><a class="dropdown-item" href="../pages/faq.html">FAQ's</a></li>
                            <li><a class="dropdown-item" href="../pages/policy.html">Policy</a></li>
                            <li><a class="dropdown-item" href="../pages/support.html">Support</a></li>
                            <li><a class="dropdown-item" href="../pages/support-topic.html">Support Topic</a></li>
                            <li><a class="dropdown-item" href="../pages/contact-us.html">Contact Us</a></li>
                        </ul>
                    </li>
                    <li class="dropdown nav-item">
                        <a href="#" class="nav-link">Blog</a>
                        <label class="px-dropdown-toggle mob-menu"></label>
                        <ul class="dropdown-menu left shadow-lg">
                            <li><a class="dropdown-item" href="../blog/blog.html">Blog</a></li>
                            <li><a class="dropdown-item" href="../blog/blog-single.html">Blog Single</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- End Menu -->
            <div class="col-12 col-lg-2 col-md-5 text-center text-md-start text-lg-center pb-3 pb-md-0">
                <!-- Logo -->
                <a class="navbar-brand" href="../index.html">
                    <img class="logo-dark" src="@@imgPath/img/logo.svg" title="" alt="">
                    <img class="logo-light" src="@@imgPath/img/logo-light.svg" title="" alt="">
                </a>
                <!-- Logo -->
            </div>
            <div class="col-12 col-md-7 col-lg-5">
                <div
                    class="nav flex-nowrap align-items-center header-right justify-content-center justify-content-md-end w-100">
                    <!-- Nav Search-->
                    <div class="nav-item">
                        <a class="nav-link" data-bs-toggle="offcanvas" href="#header_search_popup" role="button"
                            aria-controls="header_search_popup">
                            <i class="fi-search"> </i>
                        </a>
                    </div>
                    <!-- User -->
                    <div class="nav-item">
                        <a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#topbarlogin">
                            <i class="fi-user"> </i>
                        </a>
                    </div>
                    <!-- Wishlist -->
                    <div class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fi-heart"> </i>
                        </a>
                    </div>
                    <!-- Cart -->
                    <div class="nav-item">
                        <a class="nav-link" data-bs-toggle="offcanvas" href="#modalMiniCart" role="button"
                            aria-controls="modalMiniCart">
                            <span class="" data-cart-items="8">
                                <i class="fi-shopping-cart"> </i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- Mobile Menu -->
    @@include('./header/_mobile-header-top.html', {
    "path": "..",
    "imgPath": "../../assets",
    })
    <!-- End Mobile Menu -->
</header>
<!-- Header End -->


<!-- Mobile Bottom -->
@@include('./header/_mobile-header-bottom.html', {
"path": "..",
"imgPath": "../../assets",
"MobExtraClass": "",
})
<!-- End Mobile Bottom -->