
<div class="mobile-header-01 d-lg-none">
    <div class="mob-head-in">
        <div class="mob-toggle">
            <button class="hm-toggle-mob" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvas_mobile_header_01" aria-controls="offcanvas_mobile_header_01">
                <span></span>
            </button>
        </div>
        <div class="mob-logo text-center w-100 d-flex justify-content-center">
            <a href="../../index.html">
                <img class="logo-dark" src="@@imgPath/img/logo.svg" title="" alt="">
                <img class="logo-light" src="@@imgPath/img/logo-light.svg" title="" alt="">
            </a>
        </div>
        <div class="mob-end">
            <!-- Cart -->
            <div class="nav-item">
                <a class="nav-link" data-bs-toggle="offcanvas" href="#modalMiniCart" role="button"
                    aria-controls="modalMiniCart">
                    <i class="fi-shopping-cart"> </i>
                    <sub>08</sub>
                </a>
            </div>
        </div>
    </div>
</div>
